.width30{
    width:30%;
}
.float_right{
    float:  right !important;
}
.custom_img{
    width:100px;
    height:100px;
}
.card_title_center{
    width: 100%;
    text-align: center !important;
}
.custom_thead {
    background-color: #233490;
    color: #fff;
}
